@import "tailwindcss";

@theme inline {
  /* Fonts */
  --font-sans: var(--font-inter), ui-sans-serif, system-ui, sans-serif;
  --font-heading: var(--font-manrope), ui-sans-serif, system-ui, sans-serif;

  /* RIOTEX Design System Colors */
  --color-primary: #000F8A;
  --color-primary-hover: #000a6e;
  --color-secondary: #0856F4;
  --color-tertiary: #8FCCFF;
  --color-neutral: #FFFFFF;
}

body {
  font-family: var(--font-sans);
}
